body
{
    font-family: arial,sans-serif;
}

a /*tags dont have symbol before them like classes and IDs do*/
{
    text-decoration: none;
    color: #57677f;
    font-size: 14px;
    padding-left: 20px;
}

#header
{
    margin-top: 20px;
}

#rhs-nav
{
    float: right;
}

#sign-in
{
    font-family: arial,sans-serif;
    background-color: #4485f4;
    color: white;
    border: none;
    font-weight: bold;
    padding: 8px 15px;
    margin-left: 20px;
    margin-right: 20px;
}

#google-title /*referencing the necessary div*/
{
    text-align: center;
    margin-top: 9%; /*Difference between padding and margins is that margins 
    add area to the outside space, whereas padding adds area to the inside space. 
    This can be seen when inspecting elements in the webpage. Margin is yellow, 
    padding is purple.*/
    font-size: 50pt;
}

#search-bar
{
    border-radius: 25px; /*rounds the border*/
    height: 35px;
    font-size: 12pt;
    width: 500px;
    padding-left: 15px; /*added padding so the text starts 10 pixels from the edge of the search bar*/
    padding-right: 15px;
    border: #dfe1e5 solid 1px; 
}

.google-buttons /*use '#' when referencing IDs and '.' for classes*/
{
    background-color: #f2f2f2;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: #7a706c;
}